@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* NAVBAR*/
nav {
    position: fixed;
}

.navbar {
    background: linear-gradient(to right, #111 0%, #fff 100%);
}


/* BODY */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* *********************************** */

/* CONTENT */

.carousel-section h3 {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 200;

}

.carousel-item img {
    max-height: 800px;

}

.sectionServicios {
    background-image: url('../images/backGround_Servicios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;


}

.serviciosBox {
    width: 300px;
    padding: 15px;
    margin-left: 50px;
    color: #1e201c;
    text-align: center;
    margin-bottom: 10px;
    background: #464940;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "0";



}

.ServicioIndividuales h4 {
    margin-bottom: 25px;



}

/* FOOTER */
footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    margin-top: auto;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;
}

/* *********************************** */